{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "bracketSpacing": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["decorators-legacy", "typescript", "jsx"]
}
